<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  
<div class="container-fluid mt--7">
    <div class="row mt-2">
        <div class="col">
            <!-- <div class="card shadow">
                <app-mapa-seguimiento ></app-mapa-seguimiento>
            </div> -->

            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Monitoreo</h3>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-outline-primary" (click) = "seguimientoTodosJugadores()">
                                Ver todos
                            </button>

                            <button type="button" class="btn btn btn-outline-success" (click) = "descargarExcelTabla()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
                                  </svg>
                                  Descargar Excel
                            </button>
                        </div>
                    </div>
                </div>
                <!-- aqui va la tablaaaaaaaa -->
                <div class = "large-table">
                    <div class="table-responsive altura-tabla">
                
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class ="center-table-elements">Nombre</th>
                                    <th scope="col" class ="center-table-elements">Preguntas Resueltas</th>
                                    <th scope="col" class ="center-table-elements">Preguntas Acertadas</th>
                                    <th scope="col" class ="center-table-elements">Ubicación</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody *ngIf="tablaMonitoreo">
                       
                                    <tr *ngFor="let resultados of tablaMonitoreo">
                            
                                        <td class="center-table-elements">
                                            {{resultados.NombreJugador}}
                                        </td>
                                        <td class="center-table-elements">
                                            {{resultados.NumeroPreguntas}}
                                        </td>
                                        <td class="center-table-elements">
                                            {{resultados.NumeroPreguntasCorrectas}}
                                        </td>
                                        <td class="center-table-elements">
                                            <button type="button" class="btn-sm btn-outline-primary" (click)="seguimientoUnicoJugador(resultados.idJugador)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                  </svg>
                                            </button>
                                        </td>

                                    </tr>
                           
                                </tbody>
                            </table>
                
                    </div>
                  </div> 
            </div>
        </div>
    </div>
</div>