<ng-container *ngIf="jugadoresPadre?.length > 0">
<div class = "large-table">
    <div class="table-responsive altura-tabla">

            <table class="table align-items-center table-flush" [formGroup]="tableForm">
                <thead class="thead-light">
                <tr>
                    <th scope="col" class ="center-table-elements">Notificar</th>
                    <th scope="col" class ="center-table-elements">Nombre</th>
                    <th scope="col" class ="center-table-elements">Correo</th>
                    <th scope="col" class ="center-table-elements">Celular</th>
                    <th scope="col" class ="center-table-elements">Estado</th>
                    <th scope="col" class ="center-table-elements">Acciones</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf = "jugadoresPadre" formArrayName="participantesCheck">
                    <ng-container *ngFor="let participante of jugadoresPadre; let idx = index" [formGroupName]="idx" >
                        <tr>
                            <td class="center-table-elements">
                                <ng-contanier *ngIf="participante.Notificado == 0">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" id="'50543_li_criterio-nombre'+{{ participante.idJugador }}" type="checkbox" formControlName="check" >
                                        <label class="custom-control-label" for="'50543_li_criterio-nombre'+{{ participante.idJugador }}"></label>
                                    </div>
                                </ng-contanier>
                                <ng-contanier *ngIf="participante.Notificado == 1">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" id="customCheck8" type="checkbox" checked="" disabled="">
                                        <label class="custom-control-label" for="customCheck8"></label>
                                    </div>
                                </ng-contanier>
                            </td>
                            <td class="center-table-elements">
                                {{ participante.Nombrejugador }}
                            </td>
                            <td class="center-table-elements">
                                {{ participante.Correo }}
                            </td>
                            <td class="center-table-elements">
                                {{ participante.Celular }}
                            </td>

                            <td class ="center-table-elements">
                                <ng-contanier *ngIf = "participante.Notificado == 0">
                                    <span class="badge badge-dot">
                                        <i class="bg-warning"></i> Sin notificar
                                    </span>
                                </ng-contanier>

                                <ng-contanier *ngIf = "participante.Notificado == 1">
                                    <span class="badge badge-dot">
                                        <i class="bg-success"></i> Notificado
                                    </span>
                                </ng-contanier>
                                
                            </td>

                            <td>

                                <div class = "d-flex justify-content-around">
                                <button type="button" class="btn-sm btn-outline-primary" (click) = "editarJugador(participante)">
                                    <svg width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </button>
                        

                                
                                <button type="button" class="btn-sm btn-outline-danger" (click) = "eliminarJugador(participante)">
                                    <svg width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>

    </div>
  </div>
</ng-container>
<ng-container *ngIf="jugadoresPadre?.length == 0">
  <h2 class="text-center text-danger altura-tabla">No existen jugadores registrados</h2>
</ng-container>