<ng-container *ngIf="preguntasPadre.from">
  <div class = "large-table">
    <div class="table-responsive altura-tabla">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col" class ="center-table-elements">N°</th>
            <th scope="col" class ="center-table-elements">Pregunta</th>
            <th scope="col" class ="center-table-elements">Respuesta</th>
            <th scope="col" class ="center-table-elements">Imágen</th>
            <th scope="col" class ="center-table-elements">Acciones</th>
            <th scope="col" class ="center-table-elements"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let pregunta of preguntasPadre.data; let indx = index">
              <tr>
                  <td class ="center-table-elements">
                      {{preguntasPadre.from + indx}}
                  </td>
                  <td>
                    <div [innerHTML]=" pregunta.Pregunta "></div>
                    <!--   <html>{{ pregunta.Pregunta }}</html> -->
                  </td>
                  <td class ="center-table-elements">
                      {{ pregunta.Respuesta }}
                  </td>
                  <td class ="center-table-elements">
                      <ng-contanier *ngIf = "pregunta.Imagen == 0">
                          <span class="badge badge-dot mr-4">
                              <i class="bg-warning"></i> No contiene imagen
                          </span>
                      </ng-contanier>
  
                      <ng-contanier *ngIf = "pregunta.Imagen == 1">
                        <button type="button" class="btn-sm btn-outline-warning" (click) = "verPregunta(pregunta.idPreguntas)">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                            Ver imágen
                        </button>
                      </ng-contanier>
                      
                  </td>
  
                  <td>
                      <!-- Boton para editar -->
                      <div class = "d-flex justify-content-around">
                        <button type="button" class="btn-sm btn-outline-primary" (click) = "editarJuego(pregunta.idPreguntas)">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                
                        <!-- Boton para eliminar -->
                        
                        <button type="button" class="btn-sm btn-outline-danger" (click) = "eliminarJuego(pregunta)">
                            <svg width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                      </div>
                  </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer py-4">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mb-0">
        <ng-container *ngIf="!preguntasPadre.prev_page_url">
          <li class="page-item disabled">
            <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.prev_page_url)">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="preguntasPadre.prev_page_url">
          <li class="page-item">
            <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.prev_page_url)">
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        </ng-container>
  
        <ng-container *ngFor="let page of paginate; let indx = index">
          <ng-container *ngIf="(indx+1) == preguntasPadre.current_page">
            <li class="page-item active">
              <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.path+'?page='+(indx+1))">{{indx+1}}</a>
            </li>
          </ng-container>
          <ng-container *ngIf="(indx+1) != preguntasPadre.current_page">
            <li class="page-item">
              <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.path+'?page='+(indx+1))">{{indx+1}}</a>
            </li>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!preguntasPadre.next_page_url">
          <li class="page-item disabled">
            <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.next_page_url)">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="preguntasPadre.next_page_url">
          <li class="page-item">
            <a class="page-link" (click)="getPreguntaPaginate(preguntasPadre.next_page_url)">
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ng-container>
  
      </ul>
    </nav>
  </div>
</ng-container>
<ng-container *ngIf="!preguntasPadre.from">
  <h2 class="text-center text-danger altura-tabla">No hay preguntas registradas</h2>
</ng-container>  