<div class="modal-header modal-dialog-centered">
    <div style="text-align: center;">
      <h4 class="modal-title" id="modal-basic-title">Registro de un nuevo juego</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="crearPregunta">
      <div class="col">

          <div class="form-group">
            <label class="form-control-label">Pregunta:</label>
              <input formControlName="pregunta" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre del participante">
              <ng-container *ngIf="crearPregunta.controls['pregunta'].hasError('required')">
                <label class="input-error-message">*Este campo es requerido.</label>
              </ng-container>
            </div>
    
          <div class="form-group">
            <label class="form-control-label">Respuesta:</label>
              <input formControlName="respuesta" type="name" class="form-control" id="exampleFormControlInput2" placeholder="Ingrese correo del participante">
              <ng-container *ngIf="crearPregunta.controls['respuesta'].hasError('required')">
                <label class="input-error-message">*Este campo es requerido.</label>
              </ng-container>
            </div>

          <div class="form-group">
            <label class="form-control-label">Imágen:</label>
            <div class="drop-zone" file-drop (files)="submit($event)">
                <input id="file" type="file" formControlName="files" (change)="submit(crearPregunta.value.files)">
                <label for="file"><strong>Seleccione un archivo</strong><span class="dragndrop"> o arrastrelo</span>.</label>
            </div>
          </div>
      </div>
    </form>

  </div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-danger" (click)="cerrar()">Cancelar</button>
    <button type="button" [disabled]="crearPregunta.invalid" class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>